@model IEnumerable<WebAssignment_2019_P03_Team06.Models.SkillSet>

@{
    ViewData["Title"] = "SkillSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
    }
</style>

<h2>SkillSet</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
        
            @*<th>
                @Html.DisplayNameFor(model => model.SkillSetId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.SkillSetName)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @*@if (item.StudentId == Context.Session.GetInt32("studentId"))
            {*@
                <tr>
                 
                    @*<td>
                        @Html.DisplayFor(modelItem => item.SkillSetId)
                    </td>*@
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.SkillSetName)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
                </tr>
            @*}*@
        }

    </tbody>
</table>
